@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
  url("../fonts/MontserratBold.woff2") format("woff2"),
  url("../fonts/MontserratBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
  url("../fonts/MontserratRegular.woff2") format("woff2"),
  url("../fonts/MontserratRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
  url("../fonts/MontserratSemiBold.woff2") format("woff2"),
  url("../fonts/MontserratSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Medium"), local("Montserrat-Medium"),
  url("../fonts/MontserratMedium.woff2") format("woff2"),
  url("../fonts/MontserratMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"),
  url("../fonts/MontserratExtraBold.woff2") format("woff2"),
  url("../fonts/MontserratExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.page {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

/* globl */
.site-container {
  min-width: 320px;
  margin: 0 auto;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-offset {
  margin-bottom: 100px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

/* header */
.header--style {
  border-radius: 0 0 32px 32px;
  box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  margin-bottom: 50px;
}

.header__container {
  display: flex;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
}

.header__logo {
  margin-right: auto;
  font-size: 0;
}

.header__nav {
  margin-right: 86px;
}

.nav__list {
  display: flex;
  align-items: center;
  column-gap: 85px;
}

.nav__link {
  font-weight: 600;
  font-size: 18px;
  color: #000;
}

.search {
  width: 24px;
  height: 24px;
  background: url("../img/search-icon.svg") no-repeat center;
  background-size: contain;
}

/* hero */
.hero--offset {
  margin-bottom: 50px;
}

.hero__wrapper {
  padding: 100px 80px;
  border-radius: 32px;
  background: url("../img/hero-bg.jpg") no-repeat center;
  background-size: cover;
}

.hero__title {
  margin: 0;
  margin-bottom: 27px;
  max-width: 837px;
  font-weight: 800;
  font-size: 70px;
  line-height: 120%;
  color: #fff;
}

.hero__descr {
  margin: 0;
  margin-bottom: 90px;
  max-width: 837px;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #fff;
}

.btn {
  padding: 25px 39px;
  border-radius: 16px;
  font-weight: 700;
  font-size: 23px;
  text-align: center;
  color: #fff;
  background-color: #f90;
}
